<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.html') %>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <section class="body-main--reyCopasIcon">
        <span class = "reyCopas-icon animated bounceInDown" alt="Rey de copas icon"></span>
    </section>
    <section class="body-main--pokerIcon">
        <span class = "poker-icon heart animated fadeInUpBig delay-0.5s" alt="hearts icon"></span>
        <span class = "poker-icon spade animated fadeInUpBig delay-0.5s" alt="spades icon"></span>
        <span class = "poker-icon diamond animated fadeInUpBig delay-0.5s" alt="diamonds icon"></span>
        <span class = "poker-icon club animated fadeInUpBig delay-0.5s" alt="clubs icon"></span>
    </section>
    <%- include('partials/foot.html') %>
</body>
</html>