.main-signin {
    position: relative;
    padding: 30px 20px 20px 20px;
    background: var(--ReyCopas-black);
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
}
.main-welcome{
    margin: 0px 0px 20px 0px;
    font-size: 2.5rem;
}
.main-container--box{
    position: relative;
}
.main-container--data{
    width: 85vw;
    height: 40px;   
    margin: 10px 0px 10px 0px;
    padding: 20px 20px 20px 50px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
}
.main-container--data:focus{
    background-color: #333333;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    color: white;
}
.main-container--icono{
    position: absolute;
    color: white;
}
.main-container--password{
    position: relative;
    margin: 10px auto 20px auto;
    width: 90vw;
    height: 20px;
}
.main-container-password--item{
    position: absolute;
    width: 150px;
    height: 20px;
    text-decoration: none;
    background-color: var(--ReyCopas-backgorund2);
    border: 2px solid var(--ReyCopas-backgorund2);
}
.main-container-password--item a{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3rem;
    text-decoration: none;
    color: white;
}
.main-container--options{
    position: relative;
    display: flex;
}
.main-container--options i{
    font-size: 3rem;
}
.main-container--options p{
    margin: 4px auto 0px 15px;
    font-weight: normal;
}
.main-container-18check{
    background-color: var(--ReyCopas-black);
    border: none;
    color: white;
}
.main-container-button{
    position: absolute;
    width: 120px;
    height: 40px;
    left: calc(50% - 60px);
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 2.3rem;
}
.main-container-moreOptions{
    position: relative;
    margin: 80px auto 20px auto;
    text-align: center;
}
.main-container-moreOptions button{
    position: relative;
    margin: 20px 25px 0px 25px;
    width: 60px;
    height: 60px;
    background-color: #333333;
    border: none;
    border-radius: 30px;
}
.main-container-moreOptions span{
    position: absolute;
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
