/*
    1. Positioning
    2. Box Model
    3. Typography
    4. Visuals
    5. Others
*/
:root{
    /*Colors*/
    --ReyCopas-orange: #FAA307;
    --ReyCopas-black: #262626;
    --ReyCopas-background: #EFEFEF;    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
    background-color: var(--ReyCopas-black);
}
body {
    font-size: 1.6rem;
    background-color: var(--ReyCopas-background);
}