<footer>
    <section class="float-bar">
        <button type="button" class="button-icon" role="button">
            <i class="bi bi-house-door-fill" style="font-size: 2.5rem; color:var(--ReyCopas-black);"></i>
        </button>
        <button type="button" class="button-icon" role="button">
            <i class="bi bi-person-fill" style="font-size: 2.5rem; color:var(--ReyCopas-black);"></i>
        </button>
        <button type="button" class="button-icon" role="button">
            <i class="bi bi-heart-fill" style="font-size: 2.5rem; color:var(--ReyCopas-black);"></i>
        </button>
        <button type="button" class="button-icon" role="button">
            <i class="bi bi-cart2" style="font-size: 3rem; color:var(--ReyCopas-black);"></i>
            <span class="shopping-car">3</span>
        </button> 
    </section>
</footer>